<h3 class="ui header">{{t "forms.i-i-s-kyrs9-покупка-билета-e.caption"}}</h3>

<form class="ui form flexberry-vertical-form" role="form">
  {{flexberry-error error=error}}
  <div class="field">
    <div class="flexberry-edit-panel">
      {{#unless readonly}}
        <button class="ui button save-button" {{action "save"}}>
          {{t "forms.edit-form.save-button-text"}}
        </button>
        {{#unless model.isNew}}
          <button class="ui button save-del-button" {{action "delete"}}>
            {{t "forms.edit-form.delete-button-text"}}
          </button>
        {{/unless}}
      {{/unless}}
      <button class="ui button close-button" {{action "close"}}>
        {{t "forms.edit-form.close-button-text"}}
      </button>
    </div>
  </div>
  <div class="field flexberry-validationsummary-container">
    <div class="sixteen wide">
      {{flexberry-validationsummary errors=(v-get validationObject "messages")}}
    </div>
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs9-покупка-билета-e.покупатель-caption"}}</label>
    {{flexberry-lookup
      choose="showLookupDialog"
      remove="removeLookupValue"
      value=model.покупатель
      displayAttributeName="покупатель"
      autocomplete=true
      relationName="покупатель"
      projection="ПокупательL"
      title=(t "forms.i-i-s-kyrs9-покупка-билета-e.покупатель-caption")
      readonly=readonly
      componentName="покупательLookup"
      class=(if (v-get validationModel "покупатель" "isInvalid") "error")
      data-test-i-i-s-kyrs9-покупка-билета-e-покупатель=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "покупатель" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.покупатель.фИО
      class=(if (v-get validationModel.покупатель "фИО" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs9-покупка-билета-e.покупатель.фИО-caption")
      data-test-i-i-s-kyrs9-покупка-билета-e-покупатель-фИО=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.покупатель "фИО" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=true
      value=model.покупатель.банковскийСчет
      class=(if (v-get validationModel.покупатель "банковскийСчет" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs9-покупка-билета-e.покупатель.банковскийСчет-caption")
      data-test-i-i-s-kyrs9-покупка-билета-e-покупатель-банковскийСчет=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel.покупатель "банковскийСчет" "message")}}
  </div>
  <div class="field">
    <label>{{t "forms.i-i-s-kyrs9-покупка-билета-e.датаПоездки-caption"}}</label>
    {{flexberry-simpledatetime
      type="date"
      readonly=readonly
      value=model.датаПоездки
      class=(if (v-get validationModel "датаПоездки" "isInvalid") "error")
      data-test-i-i-s-kyrs9-покупка-билета-e-датаПоездки=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "датаПоездки" "message")}}
  </div>
  <div class="field">
    {{flexberry-field
      readonly=readonly
      value=model.место
      class=(if (v-get validationModel "место" "isInvalid") "error")
      label=(t "forms.i-i-s-kyrs9-покупка-билета-e.место-caption")
      data-test-i-i-s-kyrs9-покупка-билета-e-место=true
    }}
    {{flexberry-validationmessage error=(v-get validationModel "место" "message")}}
  </div>
</form>
